/* Input Login & Register Styles - Remove white border on hover */

/* Remove default browser outline and white borders */
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"],
textarea {
  outline: none !important;
  border-width: 0.5px !important;
}

/* Override any white borders */
input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover,
input[type="number"]:hover,
input[type="tel"]:hover,
textarea:hover {
  border-color: rgba(6, 182, 212, 0.5) !important;
  border-width: 0.5px !important;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus {
  border-color: rgba(6, 182, 212, 0.6) !important;
  border-width: 0.5px !important;
  outline: none !important;
}

/* Remove any box-shadow that might create white border effect */
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="tel"],
textarea {
  box-shadow: none !important;
}

input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover,
input[type="number"]:hover,
input[type="tel"]:hover,
textarea:hover {
  box-shadow: none !important;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus {
  box-shadow: 0 0 0 1px rgba(6, 182, 212, 0.5) !important;
}

